<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini SIEM</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <h2>Mini SIEM</h2>
      <div>
        <a href="/">Dashboard</a>
        <a href="/events">Events</a>
        <a href="/alerts">Alerts</a>
      </div>
    </nav>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
